src/main/mule/s-gr-sfdc-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="post:\upsertRecords:application\json:s-gr-sfdc-config"
		doc:id="ac4f0a27-ba47-4ec9-9925-fe9834497294">
		<ee:transform doc:name="Set Log Configuration"
			doc:id="f87ad167-560b-4fc3-9caf-d51ec0b1b1b2">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/java
---
'System - SFDC - Upsert Accounts - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory"><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel"><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow"
			doc:id="f755da97-44a6-4572-aa3f-cd682ee082df"
			name="mule-common-logger-subflow" />
		<set-variable
			value="#[attributes.queryParams.muleEnvironment]"
			doc:name="Mule Environment"
			doc:id="945c8ba2-48ec-49b9-b1db-0118bfe70b0f"
			variableName="muleEnvironment" />
		<set-variable
			value='#[attributes.queryParams.pageNumber default "test"]'
			doc:name="Page Number" doc:id="27c888a6-ac58-4223-a2a6-29fcf70362e0"
			variableName="pageNumber" />
		<set-variable
			value="#[attributes.queryParams.objectSfdc]" doc:name="Object SFDC"
			doc:id="72ceb9b6-f60e-4a32-866f-7c08bed9a507"
			variableName="objectSfdc" />
		<choice doc:name="Choice"
			doc:id="b041a72b-0a45-469c-9407-39fef91c3d6c">
			<when
				expression='#[attributes.queryParams.objectSfdc == "Account" and attributes.queryParams.typeData == "RCU"]'>
				<ee:transform doc:name="Account RCU mapping To Java"
					doc:id="ac3eaee8-5fb1-481d-96a0-e83a203ff4ef">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---

payload.payload map (item,index) ->{
"RecordTypeId": item.RecordTypeId,
("NAdherent__c" : item.NAdherent__c) if(!isEmpty(item.NAdherent__c)),
("Id": item.Id) if(!isEmpty(item.Id)),
"FirstName" : if(!isEmpty(item.FirstName)) item.FirstName else "",
"LastName" : if(!isEmpty(item.LastName)) item.LastName else "",
"Salutation" : if(!isEmpty(item.Salutation)) item.Salutation else "",
"NomDeNaissance__c": if(!isEmpty(item.NomDeNaissance__c)) item.NomDeNaissance__c else "",
"DateDeNaissance__c": if(!isEmpty(item.DateDeNaissance__c)) item.DateDeNaissance__c as Date {format: "yyyy-MM-dd"} else "",
"SituationMatrimoniale__c" : if(!isEmpty(item.SituationMatrimoniale__c)) item.SituationMatrimoniale__c else "",
"NombreDenfants__c" : if(!isEmpty(item.NombreDenfants__c)) (item.NombreDenfants__c as String) else "",
"TypeDeCompte__c" : item.TypeDeCompte__c,
"Phone" : if (!isEmpty(item.Phone)) item.Phone else "",
"PersonOtherPhone" : if (!isEmpty(item.PersonOtherPhone)) item.PersonOtherPhone else "",
"PersonMobilePhone" : if (!isEmpty(item.PersonMobilePhone)) item.PersonMobilePhone else "",
"DateDeDeces__c" : if (!isEmpty(item.DateDeDeces__c)) item.DateDeDeces__c as Date {format: "yyyy-MM-dd"} else "",
"CSP__c" : if (!isEmpty(item.CSP__c)) item.CSP__c else "",
"Industry" : if (!isEmpty(item.Industry)) item.Industry else "",
"Profession__c" : if (!isEmpty(item.Profession__c)) item.Profession__c else "",
"PersonEmail" : if (!isEmpty(item.PersonEmail)) item.PersonEmail else "",
"RaisonSociale1__c" : if (!isEmpty(item.RaisonSociale1__c)) item.RaisonSociale1__c else "",
"BatimentResidenceAdresse1__c" : if (!isEmpty(item.BatimentResidenceAdresse1__c)) item.BatimentResidenceAdresse1__c else "",
"BPLieuDitAdresse1__c" : if (!isEmpty(item.BPLieuDitAdresse1__c)) item.BPLieuDitAdresse1__c else "",
"BatimentResidenceAdresse2__c" : if (!isEmpty(item.BatimentResidenceAdresse2__c)) item.BatimentResidenceAdresse2__c else "",
"RaisonSociale2__c" : if (!isEmpty(item.RaisonSociale2__c)) item.RaisonSociale2__c else "",
"BPLieuDitAdresse2__c" : item.BPLieuDitAdresse2__c,
"NPAIAdresse1__pc" : if(!isEmpty(item.NPAIAdresse1__pc)) item.NPAIAdresse1__pc as Boolean else "",
"NPAIAdresse2__c" : if(!isEmpty(item.NPAIAdresse1__pc)) item.NPAIAdresse2__c as Boolean else "",
"BillingCountry": if (!isEmpty(item.BillingCountry)) item.BillingCountry else "",
"BillingCity": if (!isEmpty(item.BillingCity)) item.BillingCity else "",
"BillingStreet": if (!isEmpty(item.BillingStreet)) item.BillingStreet else "",
"BillingPostalCode": if (!isEmpty(item.BillingPostalCode)) item.BillingPostalCode else "",
"ShippingCountry": if (!isEmpty(item.ShippingCountry)) item.ShippingCountry else "",
"ShippingCity": if (!isEmpty(item.ShippingCity)) item.ShippingCity else "",
"ShippingStreet": if (!isEmpty(item.ShippingStreet)) item.ShippingStreet else "",
"ShippingPostalCode": if (!isEmpty(item.ShippingPostalCode)) item.ShippingPostalCode else "",
"CodeParrain__c": if(!isEmpty(item.CodeParrain__c)) item.CodeParrain__c else "",
"PrCommercialesInfosServicesProduits__pc" : item.PrCommercialesInfosServicesProduits__pc,
"Newsletter__pc" : item.Newsletter__pc,
"EnqueteClient__pc" : item.EnqueteClient__pc,
"EnvoiDeContenusAdaptes__pc" : item.EnvoiDeContenusAdaptes__pc,
"DateDuDernierConsentement__pc": if(!isEmpty(item.DateDuDernierConsentement__pc)) (item.DateDuDernierConsentement__pc as LocalDateTime) else "",
"DerniereSourceDeConsentement__pc": if(!isEmpty(item.DerniereSourceDeConsentement__pc)) (item.DerniereSourceDeConsentement__pc) else "",
( fieldsToNull: valuesOf(item mapObject (( key: $$ ) if(($ == null) or (isEmpty($)))  )))
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when
				expression='#[attributes.queryParams.objectSfdc == "Contract"]'>
				<ee:transform doc:name="Contract mapping to Java"
					doc:id="3bee9324-3346-4c3d-a193-3b426367a98e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---

payload map (item,index) ->{
	//"IdRCU__c": item.idRcu,
	"NContrat__c": item.NContrat__c,
	"Account":  item.Account,
	("Produit__c": item.Produit__c) if(!isEmpty(item.Produit__c)),
	("GammeProduit__c ": item.GammeProduit__c) if(!isEmpty(item.GammeProduit__c)),
	("GarantiesSouscrites__c": item.GarantiesSouscrites__c) if(!isEmpty(item.GarantiesSouscrites__c)),
	("Source__c": item.Source__c)  if(!isEmpty(item.Source__c)),
	("Status": item.Status) if(!isEmpty(item.Status)),
	("DateDeffet__c": item.DateDeffet__c as Date {format: "yyyy-MM-dd"}) if(!isEmpty(item.DateDeffet__c)),
	("DateDeFinDuContrat__c": item.DateDeFinDuContrat__c as Date {format: "yyyy-MM-dd"}) if(!isEmpty(item.DateDeFinDuContrat__c)),
	("StartDate": item.StartDate as Date {format: "yyyy-MM-dd"}) if(!isEmpty(item.StartDate)),
	("fieldsToNull": valuesOf(item mapObject (( key: $$ ) if(($ == null) or (isEmpty($)))  )))
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when
				expression='#[attributes.queryParams.objectSfdc == "Task"]'>
				<ee:transform doc:name="Task mapping to Java"
					doc:id="da563cab-cd08-4f0c-a342-5b33e350a844">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map (item, index) -> {
("DateDeNumerisation__c" : item.DateDeNumerisation__c as Date {format: "yyyy-MM-dd"}) if(!isEmpty(item.DateDeNumerisation__c)),
("zzz_NAdherent__c": item.zzz_NAdherent__c) if(!isEmpty(item.zzz_NAdherent__c)),
("NumeroDuDocument__c": item.NumeroDuDocument__c) if(!isEmpty(item.NumeroDuDocument__c)),
("Montant__c ": item.Montant__c) if(!isEmpty(item.Montant__c)),
("TypologieDeDocument__c": item.TypologieDeDocument__c) if(!isEmpty(item.TypologieDeDocument__c)),
("IDPLI__c": item.IDPLI__c as String) if(!isEmpty(item.IDPLI__c)),
("Status" : item.Status) if(!isEmpty(item.Status)),
("fieldsToNull": valuesOf(item mapObject (( key: $$ ) if(($ == null) or (isEmpty($))) )))
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when
				expression='#[attributes.queryParams.objectSfdc == "Case"]'>
				<ee:transform doc:name="Case mapping to Java"
					doc:id="f603cc05-70fe-4a13-8ec2-942768f12035">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map (item, index) -> {
("IDPLI__c": item.IDPLI__c) if(!isEmpty(item.IDPLI__c)),
("Account": item.Account) if(!isEmpty(item.Account)),
("Contrat__r": item.Contrat__r) if(!isEmpty(item.Contrat__r)),
"RecordtypeId" : item.RecordtypeId,
("MontantEncaissement__c ": item.MontantEncaissement__c) if(!isEmpty(item.MontantEncaissement__c)),
("Origin": item.Origin) if(!isEmpty(item.Origin)),
("Reason": item.Reason) if(!isEmpty(item.Reason)),
("SousMotif__c": item.SousMotif__c) if(!isEmpty(item.SousMotif__c)),
("TypologieDeDocument__c": item.TypologieDeDocument__c) if(!isEmpty(item.TypologieDeDocument__c)),
(Status: item.Status) if (!isEmpty(item.Status)),
("ReferenceEncaissement__c": item.ReferenceEncaissement__c) if(!isEmpty(item.ReferenceEncaissement__c)),
("DomainedActivite__c": item.DomainedActivite__c) if(!isEmpty(item.DomainedActivite__c)),
("fieldsToNull": valuesOf(item mapObject (( key: $$ ) if(($ == null) or (isEmpty($)))  )))
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when
				expression='#[attributes.queryParams.objectSfdc == "Account" and attributes.queryParams.typeData == "Marketing"]'>
				<ee:transform
					doc:name="Account Marketing mapping to Java"
					doc:id="b80819b0-0a25-4538-84dd-a520bb64f888">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map (item, index) -> {
	"RecordTypeId": item.RecordTypeId,
	("NAdherent__c" : item.NAdherent__c) if(!isEmpty(item.NAdherent__c)),
	("Cible__c" : item.Cible__c) if(!isEmpty(item.Cible__c)),
	("DateDEntree__c" : item.DateDEntree__c as Date as Date {format: "yyyy-MM-dd"}) if(!isEmpty(item.DateDEntree__c)),
	("Anciennete__c" : item.Anciennete__c) if(!isEmpty(item.Anciennete__c)),
	("NPSNumerique__c" : item.NPSNumerique__c) if(!isEmpty(item.Cible__c)),
	("NPSProfil__c" : item.NPSProfil__c) if(!isEmpty(item.NPSProfil__c)),
	("SegmentMarketing__c" : item.SegmentMarketing__c) if(!isEmpty(item.SegmentMarketing__c)),
	("StatutDuCompteClient__c" : item.StatutDuCompteClient__c) if(!isEmpty(item.StatutDuCompteClient__c)),
	("MultiEquipement__c" : item.MultiEquipement__c) if(!isEmpty(item.MultiEquipement__c)),
	("NombreDeContrats__c" : item.NombreDeContrats__c) if(!isEmpty(item.NombreDeContrats__c)),
	("CSPRequalifiee__c" : item.CSPRequalifiee__c) if(!isEmpty(item.CSPRequalifiee__c)),
	("VersementProgrammeDe2Mois__c" : item.VersementProgrammeDe2Mois__c) if(!isEmpty(item.VersementProgrammeDe2Mois__c)),
	("fieldsToNull": valuesOf(item mapObject (( key: $$ ) if(($ == null) or (isEmpty($)))  )))
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger"
					doc:id="c99d8b72-3b70-44e7-a285-634e306bdb0b" />
			</otherwise>
		</choice>
		<!-- <salesforce:upsert objectType="#[attributes.queryParams.objectSfdc]" 
			externalIdFieldName="#[attributes.queryParams.externalIdField]" doc:name="Upsert" 
			doc:id="4d3c38e6-be43-42e8-a4c0-b1d60eed96bd" config-ref="Salesforce_Config" 
			/> -->
		<salesforce:upsert
			objectType="#[attributes.queryParams.objectSfdc]"
			externalIdFieldName="#[attributes.queryParams.externalIdField]"
			doc:name="Upsert" doc:id="b20785d4-8001-4bae-85ce-2cb3a12c00f5"
			config-ref="salesforce_config"/>
		<set-variable value="#[payload]" doc:name="Payload Var"
			doc:id="4241602e-9c99-40d8-85dd-f2e152b672bd"
			variableName="payloadVar" />
		<choice doc:name="Choice"
			doc:id="69b4b185-c18a-450c-9954-3f477b4619b3">
			<when
				expression="#[vars.muleEnvironment == 'prepLocal' or vars.muleEnvironment == 'devLocal']">
				<set-payload
					value="#[%dw 2.0
&#10;output application/json
&#10;---
&#10;[	'Page number': vars.pageNumber,
&#10;	(payload.items filter (fil) -&gt; (fil.successful ~= 'false')) map (item,index) -&gt; {
&#10;	exeption: item.exception.message }
&#10;]]"
					doc:name="Set Payload"
					doc:id="39f376a8-754c-4fb1-a471-f17035f28700" />
				<logger level="INFO" doc:name="Logger"
					doc:id="5f68b0da-0c27-479e-a903-3126b3a05b34"
					message='#[%dw 2.0
&#10;output application/json
&#10;---
&#10;{
&#10;	"level": vars.logLevel,
&#10;	"category": vars.logCategory,
&#10;	"message": vars.logMessage
&#10;}]' />
				<file:write doc:name="Write" doc:id="7dac78b4-80c7-4d9d-a835-89e4dedef5c4" config-ref="File_Config" path="#[vars.objectSfdc]" mode="APPEND" />
			</when>
		</choice>
		<ee:transform doc:name="To Json"
			doc:id="ae51af84-866d-4d77-b401-387a56dce768">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.payloadVar.items map (item,index) -> {
    "id" : item.id,
    "message" : item.message,
    "success" : item.successful
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Set Log Configuration"
			doc:id="48fc88da-386c-4f9a-a967-52d600638c5f">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/java
---
'System - SFDC - Upsert Accounts - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory"><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel"><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow"
			doc:id="2061f43b-7de3-4811-adaf-ff4fdd9ccf88"
			name="mule-common-logger-subflow" />
	</flow>
	<flow name="get:\getRecord:s-gr-sfdc-config"
		doc:id="45e84a14-87a7-4ce0-9fe2-be24ba05541c">
		<ee:transform doc:name="Set Log Configuration"
			doc:id="217adc0d-54f8-4c90-882d-8de9549ca7bf">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/java
---
'System - SFDC - Get Single Record - Start']]></ee:set-variable>
				<ee:set-variable variableName="logCategory"><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel"><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow"
			doc:id="c2b7d8cb-ff4e-4eb7-b8db-ed0b9144c8af"
			name="mule-common-logger-subflow" />
		<set-variable
			value="#[attributes.queryParams.queryString]" doc:name="Query String"
			doc:id="e59f4d7e-c207-4090-9c6f-4061b714dd2f"
			variableName="queryString" />
		<salesforce:query doc:name="Query"
			doc:id="b3d1e5d5-8fc1-4e2a-981c-d6e8244e4af8"
			config-ref="salesforce_config">
			<salesforce:salesforce-query><![CDATA[#[vars.queryString]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="To Json"
			doc:id="c2467ece-0b4f-43f4-99cb-4613f76a151b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Set Log Configuration"
			doc:id="d1fe0930-4ad3-41c2-bc61-692c7b2fbedd">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="logMessage"><![CDATA[%dw 2.0
output application/java
---
'System - SFDC - Get Single Record - Finish']]></ee:set-variable>
				<ee:set-variable variableName="logCategory"><![CDATA[%dw 2.0
output application/java
---
'Trace']]></ee:set-variable>
				<ee:set-variable variableName="logLevel"><![CDATA[%dw 2.0
output application/java
---
'INFO']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mule-common-logger-subflow"
			doc:id="501f4964-0a24-4458-9ba5-412782748afe"
			name="mule-common-logger-subflow" />
	</flow>
	<flow name="get:\createBulkJob:s-gr-sfdc-config">
		<salesforce:create-job operation="upsert"
			type="#[attributes.queryParams.objectSfdc]" doc:name="Create job"
			doc:id="c3e086e7-926c-4756-9789-c56aabca9126"
			config-ref="salesforce_config">
			<salesforce:create-job-request><![CDATA[#[%dw 2.0
output application/java
---
{
    "externalIdFieldName": attributes.queryParams.externalIdField,
    "contentType" : "CSV",
    "concurrencyMode": "Serial"  //Serial or Parallel,
}]]]></salesforce:create-job-request>
		</salesforce:create-job>
		<ee:transform doc:name="To JSON"
			doc:id="aec9de55-76d1-4a84-9243-d1190c46e08d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="#[payload]" />
	</flow>
	<flow name="get:\closeJob:s-gr-sfdc-config">
		<salesforce:close-job doc:name="Close job"
			doc:id="7b2890b3-d0e0-41f4-8360-db1d62fc4a6a"
			config-ref="salesforce_config"
			jobId="#[attributes.queryParams.jobId]" />
		<logger level="INFO" message="get:\closeJob:s-gr-sfdc-config" />
	</flow>
</mule>